<app-banner2 title="Edit Player"></app-banner2>
<h1 style="text-align: center;  margin-top: 20px;">Edit Player</h1> <br> 
<form #EditPlayerForm="ngForm" (ngSubmit)="EditPlayer()" style="margin-bottom: 20px;">
    <div class="mb-3 col-lg-4 container">
      <label class="form-label"> Name</label>
      <input type="text" class="form-control" [(ngModel)]="player.name" [ngModelOptions]="{standalone: true}" >
      
    </div>
    <div class="mb-3 col-lg-4 container">
        <label class="form-label">Number</label>
        <input type="text" class="form-control" [(ngModel)]="player.nbr" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="mb-3 col-lg-4 container">
        <label class="form-label">Post</label>
        <input type="text" class="form-control" [(ngModel)]="player.post" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="mb-3 col-lg-4 container">
        <label class="form-label">Age</label>
        <input type="text" class="form-control" [(ngModel)]="player.age" [ngModelOptions]="{standalone: true}">
        
      </div>
      
   <div class="mb-3 col-lg-4 container text-center"><br>
    <button type="submit" class="btn btn-primary py-3 px-5">Edit Player</button></div>
  </form>



