<div class="widget-next-match">
    <div class="widget-title">
        <h3 style="text-align: center;">Team : {{teamsInput.id}}</h3>
    </div>
    <div class="widget-body mb-3">
        <div class="widget-vs">
            <div
                class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                    <img src={{teamsInput.Logo}} alt="Image">
                    <h3>{{teamsInput.TeamName}}</h3>
                </div>
                
               
            </div>
        </div>
    </div>

    <div class="text-center widget-vs-contents mb-4">
        <h4>{{teamsInput.TeamName}}</h4>
        <p class="mb-5">
            <span class="d-block">{{teamsInput.Foundation}}</span>
            <span class="d-block">{{teamsInput.Date}}</span>
            <strong class="text-primary">{{teamsInput.Country}}</strong>
        </p>

      
    </div>
</div>