<app-banner2 title="Add Player"></app-banner2>
<h1 style="text-align: center;  margin-top: 20px;">Add Player</h1> <br> 
<form #addPlayerForm="ngForm" (ngSubmit)="addPlayer()" style="margin-bottom: 20px;">
    <div class="mb-3 col-lg-4 container">
      <label class="form-label"> Name</label>
      <input type="text" class="form-control" [(ngModel)]="Player.name" [ngModelOptions]="{standalone: true}" >
      
    </div>
    <div class="mb-3 col-lg-4 container">
        <label class="form-label">Number</label>
        <input type="text" class="form-control"  [(ngModel)]="Player.number" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="mb-3 col-lg-4 container">
        <label class="form-label">Post</label>
        <input type="text" class="form-control" [(ngModel)]="Player.post" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="mb-3 col-lg-4 container">
        <label class="form-label">Age</label>
        <input type="text" class="form-control" [(ngModel)]="Player.age" [ngModelOptions]="{standalone: true}">
        
      </div>
      <div class="mb-3 col-lg-4 container">
        
        <label class="btn hvr container" style="color: white; font-size: 13px;"><i class="fas fa-image"></i>  Choose an Avatar <input [(ngModel)]="Player.avatar" [ngModelOptions]="{standalone: true}" type="file" id="imageProduct" style="display: none;"></label>
        
      </div>
      
   <div class="mb-3 col-lg-4 container text-center"><br>
    <button type="submit" class="btn btn-primary py-3 px-5">Add Player</button></div>
  </form>


